.btn{
    background-color: red;
    border: 1px solid transparent;
    color:#ffff;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;



}
