.students{
    width:80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding-bottom: 20px;
}

@media (min-width: 500px) {
  .students{
    width: 450px;
  }  
}
    

.students label {
    display:block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}
.students input {
    width: 80%;
    height: 20px;
    direction: rtl;
   padding: 5px;
    border-radius: 5px;
   
   
  
}
input[type=number],input[type=email]{
  direction: ltr;
}
